<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/operationReceipt.css">
    <title>Operation receipt</title>
</head>
<body>
    <header>
        <div class="logo-and-doc-name">
            <img src="https://raw.githubusercontent.com/Juanlu3095/Easybank-API/refs/heads/main/src/main/resources/logo/easybank_logo_no_background.png" alt="logo-easybank">
            <h1 id="title">Operation receipt</h1>
        </div>
    </header>

    <main>
        <div class="principal-data">
            <div class="date-and-time">
                <h3 class="data-title property-title">
                    Date & time
                </h3>
                <p class="data-explained property-value">
                    27/08/2026 13:00
                </p>
            </div>
            <div class="operation-type">
                <h3 class="data-title property-title">
                    Operation type
                </h3>
                <p class="data-explained property-value">
                    TRANSFER
                </p>
            </div>
            <div class="status">
                <h3 class="data-title property-title">
                    Status
                </h3>
                <p class="data-explained property-value">
                    DONE
                </p>
            </div>
        </div>

        <div class="secondary-data">
            <div class="operation-details">
                <h3 class="operation-details-title property-title">
                    Operation details
                </h3>
                <p class="amount property-value">
                    Amount: 178,99€
                </p>
                <p class="operation-id property-value">
                    Operation id: 123456789
                </p>
            </div>
            <div class="operation-orderer">
                <h3 class="orderer-title property-title">
                    Orderer
                </h3>
                <p class="orderer-name property-value">
                    Roberto Gómez
                </p>
                <p class="orderer-iban property-value">
                    ES76 2100 0418 4012 3456 7891
                </p>
                <p class="operation-concept property-value">
                    Concept: Payment example
                </p>
            </div>
            <div class="operation-beneficiary">
                <h3 class="beneficiary-title property-title">
                    Beneficiary
                </h3>
                <p class="beneficiary-name property-value">
                    Alfredo Jiménez
                </p>
                <p class="beneficiary-iban property-value">
                    ES24 0049 5199 3287 1781 0958
                </p>
            </div>
        </div>
    </main>

    <footer>
        <div class="contact-data">
            <p>EasyBank</p>
            <p>Telephone: +34 951111111   Email: info@easybank.com</p>
        </div>
    </footer>
</body>
</html>