<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body style="background-color: #197a69">
    <main>
        <div id="message-body" style="
                border: 1px solid;
                border-radius: 0.5rem;
                background-color: white;
                padding: 2rem 0 3rem 0;
                margin: 0 auto;
                width: 80%;
            ">
            <div class="logo" style="text-align: center;">
                <img class="logo" src="https://raw.githubusercontent.com/Juanlu3095/Easybank-API/refs/heads/main/src/main/resources/logo/easybank_logo_no_background.png" alt="logo-easybank" style="width:20%">
            </div>
            <h1 style="text-align: center;">Reset your account password</h1>
            <div class="message" style="text-align:left;padding: 0 3rem;">
                <p>
                    You have requested a change of your password. Please click in the next button to do the update:
                </p>
                <p style="text-align: center;">
                    <a th:href="${domain + '/reset-password/' + token}">
                        <button style="
                            background-color: #197a69;
                            color: white;
                            border: 1px solid #197a69;
                            border-radius: 0.5rem;
                            padding: 1rem
                        ">
                            Reset password
                        </button>
                    </a>
                </p>
                <p>Best of regards,</p>
                <p>The EasyBank's team</p>
            </div>
        </div>
    </main>
</body>
</html>